<div *ngIf="user && user.role=='doctor'" class="container">
  <div class="select">
    <h2> Crear alerta </h2>
    <label> Descripción: </label>
    <input type="text" [(ngModel)]="formInfo.title" name="title" />
    <br>
    <label>Especialidad:</label>
    <select [(ngModel)]="formInfo.speciality" name="speciality">
      <option value="Medicina familiar">Médico de familia</option>
      <option value="Pediatria">Pediatría</option>
    </select>
    <label>Centro:</label>
    <select [(ngModel)]="formInfo.center" name="center">
      <option *ngFor="let center of centers" value="{{center._id}}">{{center.title}}</option>
    </select>
  </div>
  <div class="button">
    <button (click)="newAlert()"> Crear oferta </button>
  </div>
  <p>{{message}}</p>
</div>
