<div *ngIf="user && user.role=='admin'" class="container">
  <!-- <label> Center </label>
    <input type="text" [(ngModel)]="formInfo.center" name="center" />
    <br> -->
  <div class="select">
    <h2> Crear oferta </h2>
    <label>Centro:</label>
    <select [(ngModel)]="formInfo.center" name="center">
      <option *ngFor="let center of centers" value="{{center._id}}">{{center.title}}</option>
    </select>
    <label>Tipo:</label>
    <select [(ngModel)]="formInfo.title" name="title">
      <option value="Médico de familia">Médico de familia</option>
      <option value="Pediatria">Pediatría</option>
      <option value="Urgencias SUAP">Urgencias SUAP</option>
    </select>
    <label>Especialidad:</label>
    <select [(ngModel)]="formInfo.speciality" name="speciality">
      <option value="Medicina familiar">Médico de familia</option>
      <option value="Pediatria">Pediatría</option>
    </select>
  </div>
  <div class="form">
    <form>
      <label> Fecha </label>
      <input type="date" [(ngModel)]="formInfo.date" name="date" />
      <br>
      <label> Descripción </label>
      <input type="text" [(ngModel)]="formInfo.description" name="description" />
      <br>
      <button (click)="newJob()"> Crear oferta </button>
    </form>
    <p>{{message}}</p>
  </div>
</div>

<div *ngIf="user && user.role!='admin'" class="unauthorized">
  <p>You can't create new users. Please contact with your system administrator.</p>
  <a [routerLink]="['/dashboard']">Back</a>
</div>
