<h2> Crear oferta </h2>
<div *ngIf="user && user.role!=='doctor'" class="container">
  <div class="select">
    <label>Centro:</label>
    <select [(ngModel)]="formInfo.center" name="center">
      <option *ngFor="let center of centers" value="{{center._id}}">{{center.title}}</option>
    </select>
    <label>Tipo:</label>
    <select [(ngModel)]="formInfo.title" name="title">
      <option value="Médico de familia">Médico de familia</option>
      <option value="Pediatria">Pediatría</option>
      <option value="Urgencias SUAP">Urgencias SUAP</option>
    </select>
    <label>Especialidad:</label>
    <select [(ngModel)]="formInfo.speciality" name="speciality">
      <option value="Medicina familiar">Médico de familia</option>
      <option value="Pediatria">Pediatría</option>
    </select>
  </div>
  <div class="form">
    <form>
      <div class="dates">
        <div class="">
          <label> Fecha de inicio</label>
          <input type="date" [(ngModel)]="formInfo.datein" name="datein" />
          <br>
        </div>
        <div class="">
          <label> Fecha de finalización</label>
          <input type="date" [(ngModel)]="formInfo.dateout" name="dateout" />
          <br>
        </div>
      </div>
      <label> Descripción </label>
      <input type="text" [(ngModel)]="formInfo.description" name="description" />
      <br>
      <button (click)="newJob()"> Crear oferta </button>
      <a class="a" [routerLink]="['/dashboard']">Volver</a>
    </form>
    <p>{{message}}</p>
  </div>
</div>

<div *ngIf="user && user.role==='doctor'" class="unauthorized">
  <p>No tiene permiso para ver esta página. Por favor, póngase en contacto con el administrador del sistema.</p>
  <a [routerLink]="['/dashboard']">Volver</a>
</div>
