@media screen and (min-width: 480px) {
  h3 {
    text-align: center;
  }
  .invitation {
    background: rgba(204, 230, 255, 0.2);
    width: 30%;
    border-radius: 15px;
    margin: 10px auto;
    padding: 5px 20px;
    font-family: 'Montserrat';
    font-size: 17px;
    color: navy;
  }
  .invitation b {
    color: black;
    font-weight: bolder;
  }
  .anchor {
    float: right;
  }

}

@media screen and (max-width: 479px) {
  h2 {
    margin-top: 140px;
    text-align: center;
  }
  .invitation {
    background: rgba(204, 230, 255, 0.2);
    width: 80%;
    border-radius: 15px;
    margin: auto;
    padding: 5px 20px;
  }
}
