<div *ngIf="user && user.role==='admin'">

  <h1>¿Está seguro de que quiere borrar esta petición?</h1>

  <div class="invitation">
    <p>Usuario: {{invitation.username}}</p>
    <p>Nº de colegiado: {{invitation.collegiate}}</p>
    <p>Especialidad: {{invitation.speciality}}</p>
    <p>Nombre: {{invitation.name}}</p>
    <p>Teléfono: {{invitation.phone}}</p>
    <button (click)="deleteInvitation(invitation._id)">Delete</button>
    <a [routerLink]="['/invitations']">Cancelar</a>
  </div>

</div>

<div *ngIf="!user" class="unauthorized">
  <p>No tiene permiso para ver esta página. Por favor, póngase en contacto con el administrador del sistema.</p>
  <a [routerLink]="['']">Volver</a>
</div>
