<div *ngIf="user && user.role==='admin'">

  <h3>¿Está seguro de que quiere borrar esta petición?</h3>

  <div class="invitation">
    <p><b>Usuario:</b> {{invitation.username}}</p>
    <p><b>Nº de colegiado:</b> {{invitation.collegiate}}</p>
    <p><b>Especialidad:</b> {{invitation.speciality}}</p>
    <p><b>Nombre:</b> {{invitation.name}}</p>
    <p><b>Teléfono:</b> {{invitation.phone}}</p>
    <a class="delete" (click)="deleteInvitation(invitation._id)">Borrar petición</a>
    <a class="anchor" [routerLink]="['/invitations']">Cancelar</a>
  </div>

</div>

<div *ngIf="!user" class="unauthorized">
  <p>No tiene permiso para ver esta página. Por favor, póngase en contacto con el administrador del sistema.</p>
  <a [routerLink]="['']">Volver</a>
</div>
