@media screen and (min-width: 901px) {
  h3 {
    text-align: center;
  }
  .alert {
    width: 40%;
    margin: 10px auto;
    padding: 5px 20px;
  }
  p {
    font-size: 17px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
  }
  a {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
  }
  p b {
    color: black;
    font-weight: bolder;
  }
  .new {
    text-align: center;
  }
  .delete {
    color: #FF6B6B;
  }
}

@media screen and (max-width: 900px) {
  h3 {
    text-align: center;
  }
  .alert {
    width: 40%;
    margin: 10px auto;
    padding: 5px 20px;
  }
  p {
    font-size: 17px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
  }
  a {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
  }
  p b {
    color: black;
    font-weight: bolder;
  }
  .new {
    text-align: center;
  }
  .delete {
    color: #FF6B6B;
  }
}
