h2 {
  text-align: center;
  margin: 30px 0;
}

h3 {
  text-align: center;
  margin: 30px 0;
}
.job {
  background: AliceBlue;
  width: 60%;
  border-radius: 15px;
  margin: 10px auto;
  padding: 5px 20px;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 200;
}
.data {
  text-align: left;
  padding: 10px;
  color: black;
}
b {
  font-weight: bolder;
  color: black;
}
.doctors {
  padding-left: 20px;
}
.anchor {
  float: right;
}
.anchor a {
  margin: 0 0 0 20px;
}
.map {
  margin: 15px 0 0 0 ;
  padding: 0px;
}
li {
  padding-left: 20px;
  list-style: none;
}
hr {
  border: 1px solid lightgrey;
}
agm-map {
  padding: 0;
  margin: 0;
  height: 250px;
  width: 100%;
}
.back {
  float: right;
}
ul {
  margin: 0;
  padding: 0;
}
.delete {
    color: #FF6B6B;
}

@media screen and (max-width: 900px) {
  h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0 0 0;
  }
  h3 {
    text-align: center;
    margin: 30px 0;
  }
  .job {
    background: AliceBlue;
    width: 100%;
    border-radius: 15px;
    margin: 10px auto;
    padding: 5px 20px;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 200;
  }
  .data {
    text-align: left;
    padding: 10px;
    color: black;
  }
  b {
    font-weight: bolder;
    color: black;
  }
  .doctors {
    padding-left: 20px;
  }
  .anchor {
    float: right;
  }
  .anchor a {
    margin: 0 0 0 20px;
  }
  .map {
    margin: 15px 0 0 0 ;
    padding: 0px;
  }
  li {
    padding-left: 20px;
    list-style: none;
  }
  hr {
    border: 1px solid lightgrey;
  }
  agm-map {
    padding: 0;
    margin: 0;
    height: 250px;
    width: 100%;
  }
  .back {
    float: right;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .delete {
      color: #FF6B6B;
  }

}
