<div *ngIf="user && job" class="container">

  <h2 *ngIf="user && user.role==='doctor'">¿Estás seguro de que quieres solicitar esta oferta?</h2>

  <h2>{{job.title}}</h2>

  <div class="job">
    <div class="data">
      <p><b>Oferta:</b> {{job.title}}</p>
      <p><b>Especialidad:</b> {{job.speciality | json}}</p>
      <p><b>Centro:</b> {{job.center.title}}</p>
      <li><em>{{job.center.address.streetaddress}}</em></li>
      <li><em>{{job.center.address.locality}}</em></li>
      <li><em>{{job.center.address.postalcode}}</em></li>
      <p><b>Fecha de inicio:</b> {{job.datein | date}}</p>
      <p><b>Fecha de finalización:</b> {{job.dateout | date}}</p>
      <p><b>Descripción:</b> {{job.description}}</p>
      <p *ngIf="job.doctor && user.role!='doctor'"><b>SOLICITUDES:</b> </p>
      <ul *ngIf="job.doctor && user.role!='doctor'">
        <li *ngFor="let doc of job.doctor">
          {{doc.username}}
          <button *ngIf="user._id === job.creator" class="button" (click)="deleteUser(job._id, doc._id)">Eliminar usuario</button>
          <button *ngIf="user._id === job.creator" class="button" (click)="acceptUser(job._id, doc._id)">Aceptar usuario</button>
        </li>
      </ul>
      <button class="regbutton" (click)="applyJob(job._id, user._id)" *ngIf="user && user.role==='doctor'">Solicitar puesto</button>
      <button class="regbutton" (click)="deleteJob(job._id)" *ngIf="user._id === job.creator">Eliminar oferta</button>
      <a [routerLink]="['/dashboard']">Volver</a>
    </div>
    <div class="map">
      <agm-map [scrollwheel]="false" [zoom]="zoom" [latitude]="job.center.location.latitude" [longitude]="job.center.location.longitude">
        <agm-marker [latitude]="job.center.location.latitude" [longitude]="job.center.location.longitude"></agm-marker>
      </agm-map>
    </div>

  </div>

</div>

<div *ngIf="!user" class="unauthorized">
  <p>No tiene permiso para ver esta página. Por favor, póngase en contacto con el administrador del sistema.</p>
  <a [routerLink]="['']">Volver</a>
</div>
