<div *ngIf="user">

  <h1 *ngIf="user && user.role==='doctor'">¿Estás seguro de que quieres solicitar esta oferta?</h1>

  <div class="job">
    <p>Oferta: {{job.title | json}}</p>
    <p>Especialidad: {{job.speciality | json}}</p>
    <p>Centro: {{job.center.title | json}}</p>
    <p>Fecha de inicio: {{job.datein | date}}</p>
    <p>Fecha de finalización: {{job.dateout | date}}</p>
    <p>Descripción: {{job.description | json}}</p>
    <p *ngIf="job.doctor && user.role!='doctor'">SOLICITUDES: </p>
    <ul *ngIf="job.doctor && user.role!='doctor'">
    <li *ngFor="let doc of job.doctor">
      {{doc.username | json}}
      <button class="button" (click)="deleteUser(job._id, doc._id)">Eliminar usuario</button>
      <button class="button" (click)="acceptUser(job._id, doc._id)">Aceptar usuario</button>
    </li>
    </ul>
    <button class="regbutton" (click)="applyJob(job._id, user._id)" *ngIf="user && user.role==='doctor'">Solicitar puesto</button>
    <button class="regbutton" (click)="deleteJob(job._id)"  *ngIf="user && user.role==='manager'">Eliminar oferta</button>
    <a [routerLink]="['/dashboard']">Volver</a>
  </div>

</div>

<div *ngIf="!user" class="unauthorized">
  <p>No tiene permiso para ver esta página. Por favor, póngase en contacto con el administrador del sistema.</p>
  <a [routerLink]="['']">Volver</a>
</div>
