@media screen and (min-width: 480px) {
  h2 {
    text-align: center;
    margin: 30px 0;
  }
  .alert {
    background: rgba(204, 230, 255, 0.2);
    border-radius: 15px;
    width: 50%;
    margin: 10px auto;
    padding: 5px 20px;
  }
  .new {
    text-align: center;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 200;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    text-align: center;
    font-size: 17px;
  }

  .alert {
    background: rgba(204, 230, 255, 0.2);
    border-radius: 15px;
    width: 80%;
    border: 2px solid black;
    margin: 10px auto;
    padding: 5px 20px;
  }
  .new {
    text-align: center;
    margin-top: 150px;
  }
}
