<div *ngIf="user">

  <h1>JOBS</h1>

  <div class="job" *ngFor="let job of jobs">
    <p>TITLE: {{job.title | json}}</p>
    <p>SPECIALITY: {{job.speciality | json}}</p>
    <p>CENTER: {{job.center.title | json}}</p>
    <p>DATE: {{job.date | json}}</p>
    <p>DESCRIPTION: {{job.description | json}}</p>
    <p *ngIf="job.doctor[0]">DOCTOR: {{job.doctor[0].username | json}}</p>
    <button *ngIf="user && user.role==='doctor'">Get Job</button>
    <button *ngIf="user && user.role==='manager'">Delete Job</button>
  </div>

</div>

<div *ngIf="!user" class="unauthorized">
  <p>Forbidden zone. Please contact with your system administrator.</p>
  <a [routerLink]="['']">Back</a>
</div>
