<div *ngIf="user">

  <h1>JOBS</h1>

  <div class="job" *ngFor="let job of jobs">
    <p>TITLE: {{job.title | json}}</p>
    <p>SPECIALITY: {{job.speciality | json}}</p>
    <p>CENTER: {{job.center.title | json}}</p>
    <p>DATE: {{job.date | json}}</p>
    <p>DESCRIPTION: {{job.description | json}}</p>
    <a *ngIf="user.role==='doctor'" [routerLink]="[job._id]">Solicitar puesto</a>
    <a *ngIf="user.role==='manager'" [routerLink]="[job._id]">Eliminar oferta</a>
  </div>

</div>

<div *ngIf="!user" class="unauthorized">
  <p>Forbidden zone. Please contact with your system administrator.</p>
  <a [routerLink]="['']">Back</a>
</div>
