<header class="row container">
  <div class="title">
    <h1 *ngIf="user"><img class="logo" src="https://preview.ibb.co/gr7rQb/logo.png" alt="findingDocs"><a [routerLink]="['/dashboard']">{{ title }}</a></h1>
    <h1 *ngIf="!user"><img class="logo" src="https://preview.ibb.co/gr7rQb/logo.png" alt="findingDocs"><a [routerLink]="['']">{{ title }}</a></h1>
  </div>
</header>

<nav class="navbar navbar-inverse">
  <div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="li" *ngIf="user"><a [routerLink]="['/dashboard']"><b>Tablón de ofertas</b></a></li>
        <li *ngIf="user && user.role=='manager'"><a [routerLink]="['/job']"><b>Crear oferta</b></a></li>
        <li *ngIf="!user"><a [routerLink]="['/login']"><b>Iniciar sesión</b></a></li>
        <li *ngIf="!user"><a [routerLink]="['/invitation']"><b>Solicitar invitación</b></a></li>
        <li *ngIf="user && user.role=='doctor'"><a [routerLink]="['/alerts']"><b>Mis alertas</b></a></li>
        <li *ngIf="user && user.role=='admin'"><a [routerLink]="['/userslist']"><b>Listado de usuarios</b></a></li>
        <li *ngIf="user && user.role=='admin'"><a [routerLink]="['/signup']"><b>Añadir usuario</b></a></li>
        <li *ngIf="user && user.role=='admin'"><a [routerLink]="['/invitations']"><b>Lista de invitaciones</b></a></li>
        <li class="navbar-right"><a (click)=auth.logout()><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <li class="navbar-right"><a *ngIf="user" [routerLink]="['/user']"><b>{{user.username}}</b></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="body">
  <router-outlet></router-outlet>
</div>
