<header>
  <div class="user">
    <p *ngIf="user">Conectado como: <b>{{user.username | json}}</b></p>
  </div>
  <div class="logo-container">
    <img class="logo" src="https://preview.ibb.co/gr7rQb/logo.png" alt="findingDocs">
  </div>
  <div *ngIf="user" class="mititle">
    <h1><a [routerLink]="['/dashboard']">{{ title }}</a></h1>
  </div>
  <div *ngIf="!user" class="title">
    <h1><a [routerLink]="['']">{{ title }}</a></h1>
  </div>
</header>

<div class="menu">
  <a *ngIf="user" [routerLink]="['/dashboard']"><b>Tablón de ofertas</b></a>
  <a *ngIf="user && user.role=='manager'" [routerLink]="['/job']"><b>Crear oferta</b></a>
  <a *ngIf="!user" [routerLink]="['/login']"><b>Iniciar sesión</b></a>
  <a *ngIf="!user" [routerLink]="['/invitation']"><b>Solicitar invitación</b></a>
  <a *ngIf="user" [routerLink]="['/user']"><b>Datos de usuario</b></a>
  <a *ngIf="user && user.role=='doctor'" [routerLink]="['/alerts']"><b>Mis alertas</b></a>
  <a *ngIf="user && user.role=='admin'" [routerLink]="['/userslist']"><b>Listado de usuarios</b></a>
  <a *ngIf="user && user.role=='admin'" [routerLink]="['/signup']"><b>Añadir usuario</b></a>
  <a *ngIf="user && user.role=='admin'" [routerLink]="['/invitations']"><b>Lista de invitaciones</b></a>
  <button *ngIf="user" (click)="auth.logout()">Cerrar sesión</button>
</div>

<div class="body">
  <router-outlet></router-outlet>
</div>
