@media screen and (min-width: 480px) {
  header {
    background: #cce6ff;
    height: 100px;
    width: 100%;
    text-align: center;
  }
  .user {
    right: 0;
    top: 0;
    position: absolute;
    margin-right: 20px;
  }
  .logo.container {
    width: 20%;
    float: left;
    z-index: 3;
  }
  .logo {
    width: 150px;
    height: 120px;
    margin: 10px;
    float: left;
    position: absolute;
    left: 0;
  }
  .title {
    width: 100%;
  }
  h1 {
    height: 100px;
    width: 100%;
    float: left;
    text-align: center;
    margin: 0px;
    font-family: 'Baloo Tammudu';
    font-size: 60px;
  }
  h1 a {
    text-decoration: none;
    color: #003366;
  }
  .menu {
    background: #cce6ff;
    height: 70px;
    width: 100%;
    text-align: center;
  }
  .menu a {
    margin: 0 20px;
    text-decoration: none;
    color: #0059b3;
  }
  .menu p {
    margin: 0 20px;
    text-decoration: none;
    float: right;
  }
  button {
    height: 30px;
    margin: 0 10px;
    font-size: 1vw;
  }
  .body {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 479px) {
  header {
    background: #cce6ff;
    height: 100px;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 0;
  }
  .user {
    width: 15%;
    right: 0;
    top: 0;
    position: absolute;
    margin-right: 20px;
    font-size: 10px;
  }
  .logo.container {
    width: 20%;
    float: left;
  }
  .logo {
    width: 70px;
    height: 50px;
    margin: 10px;
    float: left;
    z-index: 1;
    left: 0;
  }
  .title {
    float: left;
    width: 50%;
    margin: 0 20px;
  }
  h1 {
    float: left;
    height: 50px;
    width: 50%;
    text-align: center;
    margin: 0px;
    font-family: 'Baloo Tammudu';
    font-size: 30px;
  }
  h1 a {
    text-decoration: none;
    color: #003366;
  }
  .menu {
    background: #cce6ff;
    height: 65px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    position: fixed;
    z-index: 1;
    top: 70px;
  }
  .menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #0059b3;
  }
  .menu p {
    margin: 0 20px;
    text-decoration: none;
    float: right;
  }
  button {
    border: 1px solid black;
    height: 20px;
    margin: 10px;
    font-size: 10px;
  }

}
