header {
  background: #cce6ff;
  height: 120px;
}

h1 {
  margin: 0px;
  padding: 20px;
}

h1 a {
  text-decoration: none;
  color: #003366;
}

.menu {
  float: right;
  margin-right: 20px;
}

.menu a {
  margin: 0 20px;
  text-decoration: none;
  color: 0059b3;
}

.menu button {
  height: 30px;
  margin: 0 10px;
  font-size: 1vw;
}

.body {
  margin: 50px 100px;
}
