<form *ngIf="user && user.role=='admin' ">
  <h2> Add a new profile </h2>
  <label> Role </label>
  <input type="text" [(ngModel)]="formInfo.role" name="role" />
  <br>
  <label> Collegiate number </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username" />
  <br>
  <label> Speciality </label>
  <input type="text" [(ngModel)]="formInfo.speciality" name="speciality" />
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password" />
  <br>
  <label> Name </label>
  <input type="text" [(ngModel)]="formInfo.name" name="name" />
  <br>
  <label> Phone </label>
  <input type="number" [(ngModel)]="formInfo.phone" name="phone" />
  <br>
  <button (click)="signup()"> signup </button>
</form>

<div *ngIf="user && user.role!='admin'" class="unauthorized">
  <p>You can't create new users. Please contact with your system administrator.</p>
  <a [routerLink]="['/dashboard']">Back</a>
</div>
