<div class="container">
  <div class="form">
    <h2> Añadir nuevo usuario </h2>
    <div class="select">
      <label class="usertype">Tipo de usuario:</label>
      <select [(ngModel)]="formInfo.role" name="role">
        <option value="doctor">Doctor</option>
        <option value="manager">Coordinador</option>
      </select>
    </div><br><br><br>
    <form *ngIf="user && user.role=='admin' ">
      <label> DNI </label>
      <input type="text" [(ngModel)]="formInfo.username" name="username" />
      <br>
      <label> Nº de colegiado </label>
      <input type="text" [(ngModel)]="formInfo.collegiate" name="collegiate" />
      <br><br>
      <label> Especialidad </label>
      <select class="speciality" [(ngModel)]="formInfo.speciality" name="speciality">
        <option value="Medicina familiar">Médico de familia</option>
        <option value="Pediatria">Pediatría</option>
        <option value="Coordinador">Coordinador</option>
      </select>
      <br><br>
      <label> Contraseña </label>
      <input type="password" [(ngModel)]="formInfo.password" name="password" />
      <br>
      <label> Nombre </label>
      <input type="text" [(ngModel)]="formInfo.name" name="name" />
      <br>
      <label> Teléfono </label>
      <input type="number" [(ngModel)]="formInfo.phone" name="phone" />
      <br>
      <button (click)="signup()"> Dar de alta usuario </button>
    </form>
    <p>{{message}}</p>
</div>
</div>

<div *ngIf="user && user.role!='admin'" class="unauthorized">
  <p>No tiene permiso para ver esta página. Por favor, póngase en contacto con el administrador del sistema.</p>
  <a [routerLink]="['/dashboard']">Volver</a>
</div>
