<div *ngIf="!user" class="container">
  <h2> Inicio de sesión </h2>
  <form class="form">
    <label> DNI </label>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-user"></span>
      <input type="text" [(ngModel)]="formInfo.username" name="username"/>
    </div>
    <br>
    <label> Contraseña </label>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-check"></span>
      <input type="password" [(ngModel)]="formInfo.password" name="password"/>
    </div>
    <br>
    <button (click)="login()"> Iniciar sesión </button>
    <a class="back" [routerLink]="['']" control=!control>Volver</a>
  </form>
</div>

<div *ngIf="message" class="unauthorized">
  <p>{{message}}</p>
  <a [routerLink]="['/dashboard']">Back</a>
</div>

<div *ngIf="user" class="unauthorized">
  <p>Ya estás conectado.</p>
</div>
