<form *ngIf="!user">
  <h2> Login </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>

  <button (click)="login()"> login </button>
</form>

<div *ngIf="message" class="unauthorized">
  <p>{{message}}</p>
  <a [routerLink]="['/dashboard']">Back</a>
</div>

<div *ngIf="user" class="unauthorized">
  <p>You're already logged in</p>  
</div>
