<div *ngIf="!user" class="container">
  <form class="form">
    <h2> Inicio de sesión </h2>
    <label> Usuario </label>
    <input type="text" [(ngModel)]="formInfo.username" name="username"/>
    <br>
    <label> Contraseña </label>
    <input type="password" [(ngModel)]="formInfo.password" name="password"/>

    <button (click)="login()"> Iniciar sesión </button>
    <a class="back" [routerLink]="['']" control=!control>Volver</a>
  </form>
</div>

<div *ngIf="message" class="unauthorized">
  <p>{{message}}</p>
  <a [routerLink]="['/dashboard']">Back</a>
</div>

<div *ngIf="user" class="unauthorized">
  <p>You're already logged in</p>
</div>
