<div *ngIf="user.role==='admin'" class="main">

  <h2>Listado de usuarios</h2>

  <div *ngFor="let user of users">
    <section *ngIf="user.name != 'admin'">
      <div class="user">
        <p><b>Tipo de usuario:</b> {{user.role}}</p>
        <p><b>DNI:</b> {{user.username}}</p>
        <p><b>Nombre y apellidos:</b> {{user.name}}</p>
        <p><b>Teléfono:</b> {{user.phone}}</p>
        <p><b>Nº de colegiado:</b> {{user.collegiate}}</p>
        <p><b>Especialidad:</b> {{user.speciality}}</p>
        <a class="delete" *ngIf="user.role!='admin'" (click)=deleteUser(user._id)>Eliminar usuario</a>
        <br>
      </div>
    </section>
  </div>

</div>

<div *ngIf="user.role!='admin'" class="unauthorized">
  <p>No tiene permiso para ver esta página. Por favor, póngase en contacto con el administrador del sistema.</p>
  <a [routerLink]="['']">Volver</a>
</div>
