@media screen and (min-width: 480px) {
  h2 {
    text-align: center;
  }
  .user {
    background: rgba(204, 230, 255, 0.2);
    border-radius: 15px;
    width: 40%;
    font-family: 'Montserrat';
    font-size: 17px;
    color: navy;
    margin: 10px auto;
    padding: 5px 20px;
  }
  .user b {
    color: black;
    font-weight: bolder;
  }
  .delete {
    padding: 0;
    margin: 0;
    float: right;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    text-align: center;
    font-size: 20px;
  }

  .main {
    margin: 140px 20px;
  }

  .user {
    background: rgba(204, 230, 255, 0.2);
    border-radius: 15px;
    width: 90%;
    border: 2px solid black;
    margin: 10px auto;
    padding: 5px 20px;
  }
}
