@media screen and (min-width: 901px) {
  h2 {
    text-align: center;
    margin: 30px 0;
  }
  .user {
    background: AliceBlue;
    border-radius: 15px;
    width: 40%;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 300;
    color: black;
    margin: 10px auto;
    padding: 5px 20px;
  }
  .user b {
    color: black;
    font-weight: bolder;
  }
  .delete {
    padding: 0;
    margin: 0;
    float: right;
    color: #FF6B6B;
  }

}

@media screen and (max-width: 900px) {
  h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0 10px 0;
  }
  .user {
    background: AliceBlue;
    border-radius: 15px;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 300;
    color: black;
    margin: 10px auto;
    padding: 5px 20px;
  }
  .user b {
    color: black;
    font-weight: bolder;
  }
  .delete {
    padding: 0;
    margin: 0;
    float: right;
    color: #FF6B6B;
  }
}
