<div class="container">
  <h2> Solicitud de invitación </h2>
  <div class="form">
    <div class="select">
      <label class="usertype">Tipo de usuario:</label>
      <select [(ngModel)]="formInfo.role" name="role">
        <option value="doctor">Doctor</option>
        <option value="manager">Coordinador</option>
      </select>
    </div>
    <br><br><br>
    <form>
      <label> DNI </label>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-user"></span>
        <input type="text" [(ngModel)]="formInfo.username" name="username" />
      </div>
      <br>
      <label> Nª de colegiado </label>
      <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-credit-card"></span>
      <input type="text" [(ngModel)]="formInfo.collegiate" name="collegiate" />
      </div>
      <br><br>
      <label> Especialidad </label>
      <select class="speciality" [(ngModel)]="formInfo.speciality" name="speciality">
        <option value="Medicina familiar">Médico de familia</option>
        <option value="Pediatria">Pediatría</option>
        <option value="Coordinador">Coordinador</option>
      </select>
      <br><br>
      <label> Nombre y apellidos</label>
      <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-user"></span>
      <input type="text" [(ngModel)]="formInfo.name" name="name" />
      </div>
      <br>
      <label> Teléfono </label>
      <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-phone-alt"></span>
      <input type="number" [(ngModel)]="formInfo.phone" name="phone" />
      </div>
      <br>
      <label> Email </label>
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">@</span>
      <input type="email" [(ngModel)]="formInfo.email" name="email" />
      </div>
      <br>
      <button (click)="askForInvitation()"> Solicitar invitación </button>
      <a class="back" [routerLink]="['']" control=!control>Volver</a>
      <br>
      <p>{{control}}</p>
      <p>{{message}}</p>
    </form>
</div>
</div>

<div *ngIf="user && user.role!='admin'" class="unauthorized">
  <p>No tiene permiso para ver esta página. Por favor, póngase en contacto con el administrador del sistema.</p>
  <a [routerLink]="['/dashboard']">Volver</a>
</div>
