@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 50%;
  }
  h2 {
    text-align: center;
  }
  .form {
    background: AliceBlue;
    border-radius: 15px;
    margin: 10px auto;
    padding: 20px;
    width: 80%;
    background: AliceBlue;
    font-family: 'Montserrat';
    font-size: 17px;
  }
  .form label {
    font-weight: 400;
  }
  .form h2 {
    text-align: center;
  }
  .form input {
    width: 100%;
    height: 20px;
    margin: 10px 0;
    font-size: 15px;
  }
  button {
    width: 120px;
    height: 30px;
    margin: 10px 0;
    font-size: 1vw;
  }
  .red {
    background: grey;
    color: white;
  }
}

@media screen and (max-width: 479px) {
  .container {
    margin: 150px auto;
    width: 90%;
  }
  h2 {
    text-align: center;
  }
  .form {
    background: rgba(204, 230, 255, 0.2);
    border: 2px solid black;
    border-radius: 15px;
    margin: 0px auto;
    padding: 20px;
    width: 80%;
  }
  .form h2 {
    text-align: center;
  }
  .form input {
    border: 2px solid black;
    width: 100%;
    height: 20px;
    margin: 5px 0;
    font-size: 10px;
  }
  button {
    background: navy;
    color: white;
    width: 90px;
    height: 30px;
    margin: 10px 0;
    font-size: 10px;
  }
  .red {
    background: grey;
    color: white;
  }

}
