<div *ngIf="!user">
  <h2>No user logged in.</h2>
  <a [routerLink]="['']">Back</a>
</div>

<div *ngIf="user">
  <div class="container" *ngIf="control">
    <div class="form">
      <form>
        <h2> Cuenta </h2>
        <label> Usuario </label>
        <input type="text" value={{user.username}} name="username" disabled/>
        <br>
        <label> Nº de colegiado </label>
        <input type="text" value={{user.collegiate}} name="collegiate" disabled/>
        <br>
        <label> Especialidad </label>
        <input type="text" value={{user.speciality}} name="speciality" disabled/>
        <br>
        <label> Nombre </label>
        <input type="text" value={{user.name}} name="name" disabled/>
        <br>
        <label> Teléfono </label>
        <input type="number" value={{user.phone}} name="phone" disabled/>
        <label> Email </label>
        <input type="email" name="email" value={{user.email}} disabled/>
        <button *ngIf="control" (click)="control=!control">Update profile</button>
      </form>
    </div>

  </div>

  <div *ngIf="!control" class="container">
    <div class="form">
      <form>
        <h2> Edición de usuario </h2>
        <label> Nombre de usuario </label>
        <input class="red" type="text" value="{{user.username}}" name="username" disabled/>
        <br>
        <label> Nº de colegiado </label>
        <input type="text" [(ngModel)]="formInfo.collegiate" name="collegiate" />
        <br>
        <label> Especialidad </label>
        <input type="text" [(ngModel)]="formInfo.speciality" name="speciality" />
        <br>
        <label> Nombre </label>
        <input type="text" [(ngModel)]="formInfo.name" name="name" />
        <br>
        <label> Teléfono </label>
        <input type="number" [(ngModel)]="formInfo.phone" name="phone" />
        <br>
        <label> Correo electrónico </label>
        <input type="email" [(ngModel)]="formInfo.email" name="email" />
        <br>
        <button (click)="upload()"> Actualizar </button>
        <button (click)="control=!control"> Volver </button>
      </form>
      <p>{{message}}</p>
    </div>
  </div>
</div>
