<div *ngIf="user && user.role==='admin'" class="main">

  <h2>Invitaciones pendientes</h2>

  <div class="invitation" *ngFor="let invitation of invitations">
    <p><b>Tipo de usuario:</b> {{invitation.role}}</p>
    <input hidden="true" type="text" name="role" value={{invitation.role}}>
    <p><b>Nombre de usuario:</b> {{invitation.username}}</p>
    <input hidden="true" type="text" name="username" value={{invitation.username}}>
    <p><b>Nº de colegiado:</b> {{invitation.collegiate}}</p>
    <input hidden="true" type="text" name="collegiate" value={{invitation.collegiate}}>
    <p><b>Especialidad:</b> {{invitation.speciality}}</p>
    <input hidden="true" type="text" name="speciality" value={{invitation.speciality}}>
    <p><b>Nombre:</b> {{invitation.name}}</p>
    <input hidden="true" type="text" name="name" value={{invitation.name}}>
    <p><b>Teléfono:</b> {{invitation.phone}}</p>
    <input hidden="true" type="text" name="phone" value={{invitation.phone}}>
    <p><b>Email:</b> {{invitation.email}}</p>
    <input hidden="true" type="email" name="email" value={{invitation.email}}>
    <a (click)="create(invitation)">Crear usuario</a>
    <a class="anchor" [routerLink]="[invitation._id, user._id]"> Borrar invitación </a>
  </div>

</div>

<div *ngIf="!user" class="unauthorized">
  <p>No tiene permiso para ver esta página. Por favor, póngase en contacto con el administrador del sistema.</p>
  <a [routerLink]="['']">Volver</a>
</div>
