@media screen and (min-width: 480px) {
  h2 {
    text-align: center;
  }
  .invitation {
    background: rgba(204, 230, 255, 0.2);
    width: 30%;
    border-radius: 15px;
    margin: 10px auto;
    padding: 5px 20px;
    font-family: 'Montserrat';
    font-size: 17px;
    color: navy;
  }
  .invitation b {
    color: black;
    font-weight: bolder;
  }
  .anchor {
    float: right;
  }

}

@media screen and (max-width: 479px) {
  .main {
    margin-top: 150px;
    width:90%;
  }

  h2 {
    text-align: center;
    font-size: 17px;
  }
  .invitation {
    background: rgba(204, 230, 255, 0.2);
    font-size: 15px;
    width: 80%;
    border-radius: 15px;
    margin: 10px 30px;
    padding: 5px 20px;
  }

}
