@media screen and (min-width: 901px) {
  h2 {
    text-align: center;
    margin: 30px 0;
  }
  .invitation {
    background: rgba(204, 230, 255, 0.2);
    width: 30%;
    margin: 10px auto;
    padding: 5px 20px;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 200;
    color: black;
  }
  .invitation b {
    color: black;
    font-weight: bolder;
  }
  .anchor {
    float: right;
  }
  .delete {
    color: #FF6B6B;
  }
}

@media screen and (max-width: 900px) {
  .main {
    width: 100%;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0 10px 0;
  }
  .invitation {
    background: AliceBlue;
    font-size: 15px;
    width: 100%;
    padding: 2px 10px;
  }
  .anchor {
    float: right;
  }
  .delete {
    color: #FF6B6B;
  }

}
