<div *ngIf="user && user.role==='admin'">

  <h1>Invitaciones pendientes</h1>

  <div class="invitation" *ngFor="let invitation of invitations">
    <p>Tipo de usuario: {{invitation.role}}</p>
    <input hidden="true" type="text" name="role" value={{invitation.role}}>
    <p>Nombre de usuario: {{invitation.username | json}}</p>
    <input hidden="true" type="text" name="username" value={{invitation.username}}>
    <p>Nº de colegiado: {{invitation.collegiate | json}}</p>
    <input hidden="true" type="text" name="collegiate" value={{invitation.collegiate}}>
    <p>Especialidad: {{invitation.speciality | json}}</p>
    <input hidden="true" type="text" name="speciality" value={{invitation.speciality}}>
    <p>Nombre: {{invitation.name | json}}</p>
    <input hidden="true" type="text" name="name" value={{invitation.name}}>
    <p>Teléfono: {{invitation.phone | json}}</p>
    <input hidden="true" type="text" name="phone" value={{invitation.phone}}>
    <button (click)="create(invitation)">Crear usuario</button>
    <a [routerLink]="[invitation._id, user._id]"> Borrar invitación </a>
  </div>

</div>

<div *ngIf="!user" class="unauthorized">
  <p>Forbidden zone. Please contact with your system administrator.</p>
  <a [routerLink]="['']">Back</a>
</div>
